<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="table1" value="Member"/>
		<add key="table2" value="Weapon"/>
		<add key="query1" value="SELECT * FROM Member"/>
		<add key="query2" value="SELECT * FROM Weapon"/>
		<add key="keyName" value="FK_Member_Weapon"/>
		<add key="columnFK" value="MemberID"/>
	</appSettings>
</configuration>